[2014-02-05 16:47] beldur opened #5 "Samples not working"
Hi,

I tried to run the hellocv example and got this error:

$ go run hellocv.go
# github.com/lazywei/go-opencv/opencv
37: error: 'CV_INPAINT_TELEA' undeclared (first use in this function)
37: error: 'CV_INPAINT_NS' undeclared (first use in this function)
38: error: 'cvInpaint' undeclared (first use in this function)

I use

Ubuntu 13.10
Go: go1.2 linux/amd64
OpenCV: libopencv-dev (2.4.5+dfsg-0ubu

[2014-02-06 11:56] #5 closed, assigned to nobody

[2014-02-19 14:58] viktorstaikov opened #6 "Error: Conflicting types"
When I try to run any of the samples on Ubuntu  with Open CV 2.4.0 I get the following error:

[code]

[2014-04-13 03:10] matheuscandido opened #8 "Error: could not determine kind of name for C.cvGetImageROI (etc...)"
I'm getting the following errors on running the samples:
[code]

[2014-04-25 20:35] RSully opened #9 "Pull changes from downstream"
There are some nice additions being made in one [fork](https://github.com/hybridgroup/go-opencv), it would be nice if took at look and maybe merged these upstream.

[2014-05-02 12:21] #9 closed, assigned to nobody

[2014-06-08 19:13] JKhawaja opened #10 "Relationship between cxtypes.go and cxcore.go"
Hi,

I was wondering what the relationship between the types file and the core file is? Is one holding the OpenCV Basic Structures and 'core' is holding all related methods? (on second thought they are both holding their own share of methods, etc.) ...

Actually, I am just trying to get a neat overview of how this project is being organized. :)

[2014-07-21 01:52] dpup opened #11 "Interfacing with core image library"
Do you have any examples of working with opencv and golang's native image objects?  Just before I start digging.  I assume there'll be some encoding/decoding back and forth.

[2014-07-27 01:25] carbocation opened #12 "Samples reference a different repo"
All of the samples seem to point to "github.com/hybridgroup/go-opencv/opencv" instead of "github.com/lazywei/go-opencv/opencv".

[2014-07-29 07:23] #12 closed, assigned to nobody

[2014-08-17 15:18] tjiahen opened #14 "Try to use opencv.cvarrToMat but I can't use it"
The error shows `cannot render to exported name opencv.cvarrToMat`.

[2014-08-17 16:13] #14 closed, assigned to nobody

[2014-09-07 03:42] #11 closed, assigned to nobody

[2014-09-09 05:39] harshavardhana opened #18 "Issues while using OpenCV 3.0.0-dev master branch"
[code]

[2014-09-09 06:50] #18 closed, assigned to nobody

[2014-10-16 03:16] lidaohang opened #22 "c++ opencv code go to code"
main.cpp
int main(int argc, char*argv[])
{
    IplImage *src=0;
    IplImage *dst=0;
    CvSize dst_cvsize;

[code]

}
mian.go
        params := [3]int{0}
        params[0] = 1
        params[1] = 80

[code]

get buf  How to write？
Used to do go web  server image resize !

[2014-10-27 03:15] mcqueenorama opened #28 "Problem in myGetMatType?"
I've found that when I pull the type out of an image and try to use it, its way out of bounds.  If I use the static value opencv.IPL_DEPTH_8U, it works.  Here's a line of output from a test run where I'm printing out the values of a call to GetImage:

channels:3:Rows:512:Cols:512:Type:1111638032:opencv.IPL_DEPTH_8U:8:

If you take the mat from an image in hellocv.go, then try to get the image from

[2014-11-07 18:58] TMKCodes opened #29 "ld.exe cannot find -lopencv_core249.dll"
I compiled OpenCV 2.4.9 with cmake and mingw on Windows 7. The library works fine with C++, but with these Go bindings I get the following errors when running any of the samples.

[code]

I am not that familiar with Windows world. I followed your Windows installation method to the latter except I pulled your fork instead of the code.google.com one. In Linux this works fine.

[2014-11-27 09:49] fhs opened #30 "README needs update"
The original project seemed to have moved to https://github.com/chai2010/opencv and it doesn't look abandoned. There are recent changes made by the original author.

Unless I'm missing something, the README is very misleading and it's driving away attention from the original project.

The README should explain the differences between the two project and which one is recommended.

[2014-11-28 02:17] #30 closed, assigned to nobody

[2014-12-01 05:38] peterbe opened #32 "Ability to crop an image"
I like the resize function but what I need is to also be able to crop. Something like
[code]

[2014-12-03 11:54] osiloke opened #33 "Encoding IplImage.ToImage() and saving to file, using go image, creates a black image"
I'm getting this strange bug where i can save the IplImage using opencv but when i try to do the same with the GoImage version, it creates a black image. I checked that the IplImage and GoImage pixels were similar using Get2D and At respectively. I need to ship the opencv image to another process so i need to get the raw data. The only way i could get this is using goimage, encoding to base64 send

[2014-12-08 16:36] peterbe opened #34 "Ability to load in a buffer instead of a file path"
When I have a web app with a multipart form file coming in, I have to save it to disk so I can later do `image := opencv.LoadImage(filepath)`. That seems inefficient. Would it be possible to create an Image object from a byte buffer instead?

[2014-12-10 17:49] #34 closed, assigned to nobody

[2014-12-13 09:57] ebnesina opened #35 "Can not run sample hellocv"
When I call go run hellocv.go I get the following error:
github.com/lazywei/go-opencv/opencv
/usr/bin/ld: /usr/local/lib/libopencv_highgui.a(cap_libv4l.cpp.o): undefined reference to symbol 'v4l2_munmap'
//usr/lib/x86_64-linux-gnu/libv4l2.so.0: error adding symbols: DSO missing from command line

[2014-12-13 12:19] #35 closed, assigned to nobody

[2014-12-15 21:06] JulianGindi opened #36 "Issue with NewCameraCapture()"
I am having a strange issue when attempting to call NewCameraCapture().

I have a function takePhoto() when ran by itself, works fine. When I have the same function in a loop that waits for a goroutine to return data over a channel, it just hangs without any error message.

I believe the line that is causing my problems is [this one](https://github.com/lazywei/go-opencv/blob/6edfcc9d34db33a3d253c6

[2014-12-26 19:41] unixpickle opened #37 "Automatically Release() objects"
I notice that many exported types have a `Release()` method. In a garbage collected language like Go, this feels a little redundant. Why not use `runtime.SetFinalizer()` to automatically free underlying OpenCV objects when the corresponding Go objects become unreachable?

Generally, hiding memory allocation and deallocation from the user makes the library safer to use. Furthermore, it prevents the

[2015-01-14 07:05] lazywei commented on #33
Hi, thanks to @paydro , this seems to be fixed in #40
Please reopen if there is any concern.
Thanks.

[2015-01-14 07:05] #33 closed

[2015-02-02 05:31] bryancallahan opened #43 "Crashes/Panics at cvHaarDetectObjects"
I've been running into this stack consistently while running detection over a network. I basically have a `http.ListenAndServe` interface sitting in-front of go-opencv. I see this stack on Ubuntu 14.04 LTS via `apt-get install libopencv-dev` ("libopencv-dev: Installed: 2.4.8+dfsg1-2ubuntu1") and via fresh community build of opencv-2.4.10. Built with go 1.4. So far not seeing this issue with opencv

[2015-02-02 19:34] JulianGindi commented on #36
I'm gonna bump this. Anyone having similar issues, or any suggestions on how I can fix this issue?

[2015-02-04 02:37] bryancallahan commented on #43
Ah, I think I finally found my issue. It seems to be having the cascade as a global variable as described in this question at stack overflow: http://stackoverflow.com/questions/25775650/golang-async-face-detection. So for now, I'll close up this issue.

[2015-02-04 02:37] #43 closed

[2015-05-01 15:19] lazywei commented on #28
sorry but i don't plan to maintain the v1 API anymore. i'm going to target v2 (i.e. C++ API) in the future :D
please let me know if you have any other concern.
Thanks.

[2015-05-01 15:19] #28 closed

[2015-05-01 15:20] lazywei commented on #6
sorry but i don't plan to maintain the v1 API anymore. i'm going to target v2 (i.e. C++ API) in the future :D
please let me know if you have any other concern.
Thanks.

[2015-05-01 15:20] #6 closed

[2015-05-01 15:20] lazywei commented on #8
sorry but i don't plan to maintain the v1 API anymore. i'm going to target v2 (i.e. C++ API) in the future :D
please let me know if you have any other concern.
Thanks.

[2015-05-01 15:20] #8 closed

[2015-05-01 15:20] lazywei commented on #10
sorry but i don't plan to maintain the v1 API anymore. i'm going to target v2 (i.e. C++ API) in the future :D
please let me know if you have any other concern.
Thanks.

[2015-05-01 15:20] #10 closed

[2015-05-01 15:20] lazywei commented on #22
I'm working on C++ API now. I think maybe we can create a wrapper for this?

[2015-05-01 15:22] lazywei commented on #29
sorry but i don't plan to maintain the v1 API anymore. i'm going to target v2 (i.e. C++ API) in the future :D
please let me know if you have any other concern.
Thanks.

[2015-05-01 15:22] #29 closed

[2015-05-01 15:23] lazywei commented on #32
sorry but i don't plan to maintain the v1 API anymore. i'm going to target v2 (i.e. C++ API) in the future :D
please let me know if you have any other concern.
I think we may add the wrapper for this in C++ API later.
Thanks.

[2015-05-01 15:23] #32 closed

[2015-05-01 15:23] lazywei commented on #36
sorry but i don't plan to maintain the v1 API anymore. i'm going to target v2 (i.e. C++ API) in the future :D
please let me know if you have any other concern.
Thanks.

[2015-05-01 15:23] #36 closed

[2015-05-01 15:23] lazywei commented on #37
sorry but i don't plan to maintain the v1 API anymore. i'm going to target v2 (i.e. C++ API) in the future :D
please let me know if you have any other concern.
Thanks.

[2015-05-01 15:23] #37 closed

[2015-05-01 16:23] mcqueenorama commented on #28
Sounds good.  I want the C++ API anyway.  BTW by coincidence, I discovered that a guy I know at the gym is one of the leaders of the opencv project.  I had no idea.

[2015-05-02 04:29] lazywei commented on #28
wow... that's pretty good. do you think he will be interested in this project :-P ?

[2015-05-02 08:49] mcqueenorama commented on #28
Maybe so.  I'll check.  It was a funny coincidence.

[2015-06-15 07:38] zx9597446 commented on #22
@lazywei is this project still active?
I need some api such as cv::threshold cv::findContours,
how can I do this ?

[2015-06-15 11:02] lazywei commented on #22
@zx9597446 yes this project is still alive. but features / api wrappers are added on demand.
please open a new issue for the API you need (and provide some details on that API, e.g. usage example)
also, please feel free to send a PR for that
currently, I'll only develop/maintain C++ API, and C++ API will be wrapped by SWIG.

Thanks.

[2015-06-16 08:13] zx9597446 opened #47 "add/wrap more APIs"
@lazywei I'm not familar with opencv APIs yet,  I think I need these APIs(from tutorial), it would be great if you add/wrap more APIs, thanks!
1. threshold
   Applies a fixed-level threshold to each array element.
   double threshold(InputArray src, OutputArray dst, double thresh, double maxval, int type)
2. findContours
   Finds contours in a binary image.
   C++: void findContours(InputOutputArr

[2015-06-20 01:28] lazywei commented on #47
received and thanks @zx9597446
I'll work on this when I'm more available.

[2015-06-21 20:50] danoctavian opened #48 "unable to compile go-opencv code"
Compilation of the the code you give as an example:

https://github.com/lazywei/go-opencv#opencv2s-initcameramatrix2d

fails with a large set of errors that look like this:

/tmp/go-build235271592/github.com/lazywei/go-opencv/gocv/_obj/gocv_calib3d.cpp.o: In function `GcvRodrigues_(cv::Mat, cv::Mat&)':
/usr/include/opencv2/core/core.hpp:3925: undefined reference to `cv::noArray()'
/tmp/go-build235

[2015-06-21 20:54] lazywei commented on #48
I guess it is because we don't set proper building flags for linux with opencv. I added it in https://github.com/lazywei/go-opencv/commit/2a172b0a22db13569cf5e73b5211aa895565e389, would you mind pull the latest code and try again?

thanks

[2015-06-21 21:15] danoctavian commented on #48
Hi! Thanks for the quick response. I did that and it gets further now. the next error is:

/tmp/go-build203532535/github.com/lazywei/go-opencv/gocv/_obj/gocv_gc.c:18 struct must have tag
/tmp/go-build203532535/github.com/lazywei/go-opencv/gocv/_obj/gocv_gc.c:34 struct must have tag
/tmp/go-build203532535/github.com/lazywei/go-opencv/gocv/_obj/gocv_gc.c:50 struct must have tag
/tmp/go-build20353253

[2015-07-02 12:35] lazywei commented on #48
Hey @danoctavian
What's your Go / OpenCV version?

[2015-07-03 05:31] danoctavian commented on #48
go version go1.4.2 linux/amd64
OpenCV_VERSION 2.4.8

i'm on ubuntu 14.04

thanks!

[2015-07-08 20:45] chfakht commented on #18
Please what is the solution for this problem  :) help plzz

[2015-07-13 11:41] pbandyop opened #49 "Golang bindings for OpenCv libraries"
Hi,
I am trying to use the SURF algorithm with OpenCV using Golang. Currently, the following tutorial http://docs.opencv.org/doc/tutorials/features2d/feature_flann_matcher/feature_flann_matcher.html shows it's usage with C++ and Python.
#include "opencv2/core/core.hpp"
#include "opencv2/features2d/features2d.hpp"
#include "opencv2/highgui/highgui.hpp"
#include "opencv2/nonfree/features2d.hpp"

Are

[2015-08-13 12:58] aibrahim opened #50 "hellocv.go failes"
Hi guys i'm trying the sample code of hellocv.go and i got this errors:
panic: LoadImage fail

goroutine 1 [running]:
main.main()
	/home/visof/code/go/image.go:22 +0x1c4

goroutine 2 [runnable]:
runtime.forcegchelper()
	/usr/local/go/src/runtime/proc.go:90
runtime.goexit()
	/usr/local/go/src/runtime/asm_amd64.s:2232 +0x1

goroutine 3 [runnable]:
runtime.bgsweep()
	/usr/local/go/src/runtime/mgc0.go

[2015-08-13 23:44] Ralvke opened #51 "OpenCV 2.4.2"
Where get a 2.4.2 version for this binding?

[2015-08-17 14:45] brunoqc commented on #51
I'm also wondering about this.

[2015-09-07 03:54] lazywei commented on #51
Hi @Ralvke @brunoqc sorry for late reply and thanks for asking.

TLDL: A very basic wrapper (w/ only a few APIs wrapped) can be found [here](https://github.com/lazywei/go-opencv/tree/master/gocv)

Basically, OpenCV APIs for 2+ are only provided in C++ but no C, which means CGO will not work in such case. So I tried to utilize SWIG for wrapping C++ APIs in [gocv](https://github.com/lazywei/go-openc

[2015-09-07 03:56] lazywei commented on #50
1. what's your OS?
2. what's your OpenCV version, and how did you install it?
3. did you use the latest version of go-opencv on GitHub?

[2015-09-09 16:50] brunoqc commented on #51
Does [imread()](http://docs.opencv.org/modules/highgui/doc/reading_and_writing_images_and_video.html?highlight=imread#Mat imread(const string& filename, int flags)) need to be wrapped or is it already available by the Swig process? I have a project using Swig but it's still a bit confusing.

[2015-09-13 01:24] lazywei commented on #51
it's not yet been wrapped. i'll find time to work on it asap. of course, sending a PR is also very welcome.
thanks.

[2015-09-20 12:24] jabrena opened #57 "Package opencv was not found in the pkg-config search path."
Hi,

I am newbie Go developer and I am trying to test your project but when I try to execute:

[code]

I receive the following message:

[code]

How to fix it?

[2015-09-20 12:36] jabrena commented on #57
I fixed installing the package:

apt-get install pkg-config

but now, I receive:

[code]

[2015-09-20 12:56] jabrena commented on #57
I have found: opencv.pc here:

[code]

How to add the directory into PKG_CONFIG_PATH?

[code]

[2015-09-26 02:12] lazywei commented on #57
How did you install your opencv? If you are on Ubuntu, maybe you could try this: https://help.ubuntu.com/community/OpenCV

[2015-10-05 12:58] pilere opened #58 "opencv sample square detection in go"
Hi,

Thanks for this perfect port ... would you be able to port the sample : square.cpp in go ?
I'd love to use this but not able to do a correct go porting ....

Thanks for your work !

Stéphane

[2015-10-17 11:45] kaikuehne opened #59 "The node does not represent a user object"
Hi!
I have a problem using go-opencv to load a haarcascade xml file.
I'm using Mac OS and installed opencv 2.4.5 using homebrew.

I created a small file to show the error:
[code]

The error I'm getting is:
[code]

Can you tell me what I might have done wrong? Or is this a bug?
Thanks!

[2015-10-26 10:20] spidergears opened #60 "Are openCV3.x binding planned anytime soon?"

[2015-11-14 01:52] lazywei commented on #60
Sorry, given my current circumstance, I'm afraid that this won't be done in near future.
That being said, it's always welcome if you would like to send pull requests, or better yet, be a collaborator :+1:

[2015-12-06 23:36] fiorix opened #62 "HaarCascade.DetectObjects crash after ~10h"
Hi,

I'm observing a weird behavior where some times DetectObjects crash:

[code]

And some times it works, but when you iterate over the returned `[]*Rect` a call to `.X()` or `.Y()` crashes. In my program, the Haar Cascade is initialized once and re-used for ever, but some times the program is idling for hours (e.g. over night) and as soon as it resumes doing work, it crashes. Maybe something is

[2016-01-04 00:12] arvinasokan commented on #51
Hi there,
I am extremely new to Go and so forgive me if I am asking something primitive or dumb.
I was wondering if OpenCV had to be installed for this binding to work?
The reason I am asking this is because I have intentions on making applications with openCV and Go which are standalone and portable in nature, like my go package should contain all the necessary dependencies.

[2016-01-04 07:30] lazywei commented on #51
Yes, you would need to install opencv first to be able to use this wrapper
because this wrapper refers to the header files of opencv. You have to let
the compiling tools be able to find these headers.
Arvin Asokan <notifications@github.com>於 2016年1月4日 週一，上午8:12寫道：

--
Chih-Wei (Bert)

[2016-01-08 16:15] filiptc opened #64 ""could not determine kind of name for C.cvCeil / C.cvFloor / C.cvIsInf / C.cvIsNaN / C.cvRound""
When running `go run hellocv.go`, I get:
[code]

Posting `gcc -v` output too, just in case.
[code]

[2016-01-22 11:16] filiptc commented on #64
Error fixed by using latest version 2.X (was using 3.X).

[2016-01-22 11:16] #64 closed

[2016-01-22 11:52] lazywei commented on #64
Awesome! Thanks for reporting!
Philip Thomas Casado <notifications@github.com>於 2016年1月22日 週五，下午7:16寫道：

--
Chih-Wei (Bert)

[2016-02-28 12:15] chenziliang commented on #64
@lazywei  Any plan to support opencv 3.X?

[2016-02-28 12:35] OhXiwang commented on #64
还在学习中，很感兴趣
Sent from Outlook Mobile

On Sun, Feb 28, 2016 at 4:15 AM -0800, "Ken" <notifications@github.com> wrote:

@lazywei  Any plan to support opencv 3.X?

---
Reply to this email directly or view it on GitHub:
https://github.com/lazywei/go-opencv/issues/64#issuecomment-189855176

[2016-03-10 00:32] lazywei commented on #64
@chenziliang The strategy to add supporting 2.X and 3.X should be similar --- by using SWIG. I'd try to do so when I find a suitable time.
That being said, wrapping the API requires fully understanding of the header files, and I'm not really familiar with C++, which means some of the advanced syntax used in the header files is hard for me to understand. Therefore, it would be great to have some C+

[2016-03-26 03:42] chenziliang commented on #64
@lazywei  Sure. I have several years c++ background. Let's get into it. Let's get bridged first. Your twitter ?

[2016-03-27 10:42] lazywei commented on #64
@chenziliang awesome! i've sent you an email, please check it out and let me know your thougts. thanks

[2016-04-26 23:58] RyanCopley commented on #60
@lazywei How is it going?  I was wondering if you by chance have even a slice of time to even discuss this, what would we have to do to get this issue going forward? I can help with time and effort but I may need some guidance, do you have any time to discuss what you've learned so far and see if we can find a plan for what is needed to bind to the 3.x apis, then I could probably chip in some time

[2016-05-01 02:53] lazywei commented on #60
Hi @RyanCopley , thanks for your interest!

As for current progress, we have @chenziliang helping working on possible CV 3.x supports.

To support CV 3.x, we need to wrap C++ APIs, and this has been done in `gocv` subpackage. However, the wrapping is not yet complete. In fact, I only wrapped a little bit APIs for experiments. Current wrappers use SWIG for code generating. To add more wrappers, we

[2016-05-21 17:48] deadprogram commented on #60
Hi, @lazywei is there a branch where this work is being done yet? I also would like to help.

[2016-05-22 03:11] lazywei commented on #60
@deadprogram thanks for your interest. Currently there is no branch for this. Please just make change to the master branch directly. All C++ binding should go to the `gocv/` subdirectory.

Thanks.

[2016-06-03 14:20] alisaifee opened #67 "Extracting an IplImage to bytes"
Hi, I'm trying to use the opencv bindings to write a resized `IplImage` to a `[]byte`. It looks like `ImageData()` is the function I should be using - but I can't find a way to safely do this.

[2016-06-04 00:08] alisaifee opened #68 "Unable to pass parameters for jpeg quality to SaveImage"
The `cvSaveImage` expects an array of int parameters, however `SaveImage` only accepts a single `int` parameter therefore it is not possible to pass parameters such as `CV_IMWRITE_JPEG_QUALITY`.

If I change the function to accept an `[]int` array this could work, however it would break the existing contract.

[2016-06-04 01:05] alisaifee commented on #60
:+1: I would like to help as well. I wonder if we could start a gitter channel for this to discuss what needs to be done

[2016-06-05 00:12] lazywei commented on #60
@alisaifee great idea. done, and invited you guys :-D

[2016-06-20 02:16] adamdecaf commented on #62
I'm running into this issue also. It seems to be ok often for a few images being processed, but usually under a hundred images or less and then I see this crash.

Here's a full trace

[code]

[2016-06-28 23:44] jvasquezz commented on #57
Im getting this same error  but on OS X El Capitan

[2016-07-01 01:01] adamdecaf commented on #62
Small update. I was running `DetectObjects` inside multiple concurrent goroutines and tried running them as a single threaded detection and seem to be avoiding some aspect of the segfaults.

The other thing I noticed was that Rect's `Height()` and `Width()` functions can be a cause of segfaults. It seems to be something with the cast on the unexported .height and .width properties.

[2016-07-08 05:35] ziyatdinov opened #70 "MatchTemplate"
How to implement MatchTemplate?

[2016-07-29 07:59] hazuuuun opened #71 "How to use findchessboardCorner & calibrateCamera"
I use this package for researchs
but findchessboardCorners & calibrateCamera  I can't implement.

how about I do the implement findchessboardCorner.

give as a hint...

[2016-08-11 16:50] csrgxtu commented on #49
yeah, i have same problems, how to used it in golang.

[2016-08-21 18:01] vyrus001 opened #72 "Issues calling QueryFrame more than once"
the following code produces 2 images, then hangs indefinitely (on OSX). It works fine on linux, have not tested on windows yet.

[main.txt](https://github.com/lazywei/go-opencv/files/428981/main.txt)

The issue appears to be with the ToImage() call, as the resulting image.Image some how causes the application to hang indefinitely.

It is also interesting to note that turning off the go garbage col

[2016-09-07 19:29] Doaxan opened #73 "webcam_facedetect.go [signal SIGSEGV: segmentation violation code=0x1 addr=0x1f65730 pc=0x405e72]"
go run webcam_facedetect.go      22:27:49
Press ESC to quit
unexpected fault address 0x1f65730
fatal error: fault
[signal SIGSEGV: segmentation violation code=0x1 addr=0x1f65730 pc=0x405e72]

goroutine 1 [running]:
runtime.throw(0x4d082e, 0x5)
	/usr/lib/go/src/runtime/panic.go:566 +0x95 fp=0xc42004dda0 sp=0xc42004dd80
runtime.sigpanic()
	/usr/lib/go/src/runtime/sigpanic_unix.go:27 +0x288 fp=0xc420

[2016-09-07 19:30] Doaxan commented on #73
System:    Host: pc Kernel: 4.4.19-1-MANJARO x86_64 (64 bit) Desktop: N/A
           Distro: Manjaro Linux
Machine:   System: LENOVO (portable) product: Lenovo IdeaPad Y580 v: Lenovo IdeaPad Y580
           Mobo: LENOVO model: Product Name v: Mainboard version
           UEFI: LENOVO v: 5DCN40WW(V2.07) date: 10/10/2012
Battery    BAT1: charge: 3.6 Wh 59.7% condition: 6.0/6.3 Wh (96%)
CPU:       Qu

[2016-09-19 00:57] fredcarle opened #78 "bitwise_and"
I looked through the source files and can't seem to find the implementation/binding of the opencv bitwise_and function. Is there any plan to make it part of the go package?

[2016-09-19 04:12] kevinabrandon commented on #78
I'll do it

[2016-09-19 05:09] kevinabrandon commented on #78
Give it a try.  Note there are 4 bitwise And functions:
 - And() - bitwise_and between two images
 - AndScalar() - bitwise_and between an image and a scalar
 - AndWithMask() - bitwise_and between two images using a mask
 - AndScalarWithMask() - bitwise_and between an image and a scalar using a mask
See the tests for examples

[2016-09-19 05:09] #78 closed

[2016-09-19 07:42] kevinabrandon opened #81 "lena_with_text test fails"
When I issue a go test inside the opencv folder, I get a failure that says:
`cxcore_test.go:67: Actual file differs from expected file with text`

It has to do with the lena_with_text image.
I uncommented out the lines that are used to generate the test file and the new file that is generated looks to my eyes exactly like the one that is in the repo, but it is definitely different.  Anyway here's

[2016-09-19 12:42] fredcarle commented on #78
Thanks a lot @kevinabrandon! I'll give it a try later today. Much appreciated.

[2016-09-19 14:29] fredcarle opened #82 "AbsDiff array type error"
I'm trying to call opencv.AbsDiff() with two grayscale images and when I run the code, I get the following error:

`OpenCV Error: Bad argument (Unknown array type) in cvarrToMat, file /opencv/location/opencv-2.4.13/modules/core/src/matrix.cpp, line 698`

Any idea as to why that might happen?

Let me know if you need more information.

[2016-09-19 16:00] kevinabrandon commented on #82
I just took a look at the AbsDiff() and also added the scalar version.  I added a couple of simple tests and they all seemed to work.  The tests I added are here: https://github.com/lazywei/go-opencv/blob/master/opencv/cxcore_test.go#L327

I would verify that all the images (both src and dst) are the same size, have the same number of channels, and have the same depth - although I would expect a d

[2016-09-19 16:58] fredcarle commented on #82
Thanks a lot @kevinabrandon. I'll give it a try and see if I can make it work. Have a great vacation!

[2016-09-19 17:04] fredcarle commented on #82
Actually, I just tested it again and it works. Like you stated, I had to make sure both the src and dst were the same size and had the same number of channels. I modified my dst to comply to this and it works just fine.

Again, thanks so much for your time @kevinabrandon.

[2016-09-19 17:05] #82 closed

[2016-09-21 01:34] fredcarle opened #83 "Memory leak"
I tried to reproduce a C++ code that did motion detection using this package and I have a memory leak that I can't seem to find the source of. I'm not sure if it's from my code or from one of the bindings. Can someone look at my code and help me out with this? If it's not my code, maybe this will help find the possible source in the binding code.

https://gist.github.com/fredcarle/2b73b82ed2657b29

[2016-09-23 17:43] kevinabrandon commented on #83
How do you know there's a memory leak?  I've been running the nifty program for about 10 minutes now and I see no change in my memory usage.

[2016-09-23 17:45] fredcarle commented on #83
I ran it all night long and accumulated 1GB of ram for that process.

[2016-09-23 17:53] kevinabrandon commented on #83
I'll let it keep running and see if I can reproduce that.

[2016-09-23 19:16] kevinabrandon commented on #83
It was indeed leaking and I found the source (hopefully it's the only one).

In detectMotion() you get the result's width and height by doing result.GetMat().Cols() and then result.GetMat().Rows().  Each time you do that you are creating a new Mat with the GetMat().  A full copy is made and is never released.

Instead you should simply do result.Width() and result.Height(), which isn't creating an

[2016-09-23 19:16] #83 closed

[2016-09-23 19:50] fredcarle commented on #83
Makes sense. I'm sad I didn't catch that one by myself. I was definitely skipping over this section thinking everything was OK. Thanks a lot for your help!

Do you think this piece of code could be a good example to add to the samples? Or do you have a better idea of a way to share it to help others?

[2016-09-23 21:41] kevinabrandon commented on #83
Sure, I think this would work great as an example.

I do have a few questions about the code:

1. Why use 3 images (previous, current and next) to test for changes?  Why not do only the current and next frame?
2. What's the purpose of the Erode?  Simply make any changes smaller?  I guess it would kill any single pixel sized changes?
3. When you loop through the pixels, why is the increment += 2?

[2016-09-23 21:59] kevinabrandon commented on #81
I changed the test to draw "hello" on top of ../images/pic3.png hoping that the lossless png encoding would fix this issue.  I'm going to close the issue, and if anyone has problems with the new image, we can reopen it later.

[2016-09-23 21:59] #81 closed

[2016-09-24 03:36] fredcarle commented on #83
To answer your questions:

1. You can find the reason for this in this [paper](http://www-preview.ri.cmu.edu/pub_files/pub2/collins_robert_2000_1/collins_robert_2000_1.pdf), see section 3.1.1
2. Thats correct
3. Exactly. skipping a pixel wont affect the result but will speed up the process
4. You're right. The way I used it there isn't really useful but my plan is to later make it go around moving

[2016-09-26 15:11] sangshuduo opened #87 "failed to run sample on raspberry pi"
on Ubuntu 16.04 armhf.

$ go run hellocv.go
# github.com/lazywei/go-opencv/opencv

/usr/bin/ld: $WORK/github.com/lazywei/go-opencv/opencv/_obj/cxtype.cgo2.o: undefined reference to symbol 'lrint@@GLIBC_2.4'
//lib/arm-linux-gnueabihf/libm.so.6: error adding symbols: DSO missing from command line
collect2: error: ld returned 1 exit status

[2016-10-13 17:46] brunoqc commented on #70
in opencv/imgproc.go, something like:

[code]

[2016-10-20 02:02] maxfridbe opened #88 "How to install opencv on mac to test go samples"
I'm new to go and opencv
To install open cv I did:
[code]
Results in
[code]

[2016-11-02 18:41] joaquinicolas opened #90 "Error when try to run any sample"
# github.com/lazywei/go-opencv/opencv
../opencv/goimage.go:10: undefined: IplImage
../opencv/goimage.go:11: undefined: CreateMatHeader
../opencv/goimage.go:11: undefined: CV_8U
../opencv/goimage.go:12: undefined: CV_AUTOSTEP
../opencv/goimage.go:15: undefined: DecodeImage
../opencv/goimage.go:15: undefined: CV_LOAD_IMAGE_UNCHANGED
../opencv/goimage.go:19: undefined: IplImage
../opencv/goimage.go:2

[2016-11-02 20:38] joaquinicolas opened #91 "No buildable Go Source files"
no buildable Go source files in ...go/src/github.com/lazywei/go-opencv/gocv

[2016-11-14 09:45] nilsmagnus commented on #73
Hi,

I am experiencing the same issue. It seems that the rects returned by the

`faces := cascade.DetectObjects(img)`

is corrupted with invalid memory references.

Running ubuntu linux 16.06 on a thinkpad.

[2016-11-14 09:51] nilsmagnus commented on #73
The other samples seems to work fine, including the "static" facedetection on Lena, so could it be something with the frame grabbed from the webcam? The other webcam-sample works like a charm.

[2016-11-21 14:49] #87 closed

[2016-11-21 14:53] lazywei commented on #87
Hi @sangshuduo
@didrocks has committed a change on the building flags on arm at #92. Could you check whether this issue can be solved with this patch on your end?

Thanks.

[2016-11-27 16:49] evan176 opened #93 "ToImage too slow?"
Hi,

I want to convert IplImage to go's image type, but ToImage function is too slow. Is this project alive?

Thanks

[2016-11-29 07:17] evan176 commented on #93
I think overhead is in calling C/C++ code. Maybe we can firstly convert IplImage to custom structure and passed to Go, rather than frequent use of Get2D function.

[2016-12-17 08:30] codekoala commented on #60
How are things going on this front?

[2016-12-18 06:48] songtianyi opened #95 "No gocv examples in samples path?"
I'am wondering how swig work.
Could you write some tutorials for this? It's much helps for contribution.
We know, in c wrapper we just import opencv package. I'm not sure it will work for gocv package.
I try to run following code, a lot of **Warning** occurred.
[code]
What **go run** did for us?

[2017-02-02 13:01] Majonsi commented on #57
try:
` sudo apt-get install libopencv-dev`
it worked for me

[2017-02-02 13:27] Majonsi commented on #73
I have the same issue, anybody had find a solution?
The code crash when the opencv point is create
[code]

[2017-02-07 18:26] anandshanbhag commented on #57
I had similar issue on my macOS Sierra and I did following things to resolve the issue.

`brew tap homebrew/science
brew install opencv`

Once I ran the two commands mentioned above the "opencv.pc" (shortcut) got created at "/usr/local/lib/pkgconfig/" folder.  Actual path of opencv libraries are at "/usr/local/Cellar/opencv/2.4.13.2/lib/"

To test go-opencv sample program do do following thing as

[2017-02-18 04:21] prsolucoes commented on #70
Hi. We can't bind to the c++ method of MatchTemplate?

[2017-02-28 14:24] hackintoshrao opened #97 "How to separate RGB chanels?"
Here is the C++ equivalent to separate a R/G/B channel.

[code]

How to achieve this in Go OpenCV?

[2017-03-02 00:14] RichLewis007 commented on #60
Yes, are there any updates on progress in adding OpenCV 3?

[2017-03-04 13:55] alenn-m commented on #73
I have the same problem

[2017-03-08 12:28] romaneslyg opened #98 "could not run the sample hellocv.go with some error in windows"
![image](https://cloud.githubusercontent.com/assets/23515557/23703689/349c8eea-043c-11e7-9a4d-bd5dec879b5b.png)
I have done as you said in windows
install OpenCV-2.4.x to MinGW dir
# libopencv*.dll --> ${MinGWRoot}\bin
# libopencv*.lib --> ${MinGWRoot}\lib
# include\opencv --> ${MinGWRoot}\include\opencv
# include\opencv2 --> ${MinGWRoot}\include\opencv2
but there is some error in my press
how to

[2017-03-09 03:37] lbeeon opened #99 "ToImage would raise panic: runtime error: index out of range."
code blow:
[code]

Any idea?

[2017-03-10 06:49] romaneslyg commented on #98
finally ，i found that just add the code " -lopencv_objdetect242" in line 11 of the file cxcore.go ,then this problem will be saved.And the samples could be run.
![image](https://cloud.githubusercontent.com/assets/23515557/23785078/c6698656-05a0-11e7-8f21-769feff09bce.png)
Is it must be add?

[2017-03-14 09:56] lbeeon commented on #93
@evan176 I suggest that don't use ToImage method. The implementation had some problems while assign channels. I write a new ToImage method, see blow
[code]
Inspired by the method 'FromImage'

[2017-03-14 10:05] lbeeon commented on #97
Hope help

[code]

[2017-03-14 10:11] lbeeon commented on #99
[code]

[2017-04-10 13:04] DeadNumbers opened #102 "Support OpenCV 3.2?"

[2017-04-10 13:28] lazywei commented on #102
I would definitely like to have this. However, it seems OpenCV3.2 only has C++ API, which makes it difficult to build a wrapper in Go (through Cgo). I once tried to use SWIG to build automatically wrapper for OpenCV 3.x API at [`gocv/`](https://github.com/lazywei/go-opencv/tree/master/gocv), but I feel like it is too tedious and dirty to do so.... Any suggestion would be appreciated!

[2017-04-21 08:06] sticreations opened #103 "Error on MacOS: signal: killed"
I am trying to run the hellocv example, but i am getting the error message :

I installed opencv via homebrew in version 2.4.13.2

Any ideas what i am missing?

[2017-04-21 08:57] sticreations commented on #103
Alright, after a lot of research I found out that this is a Mac related Problem which exists since the new Update.
So this Issue will be a wontfix.

[2017-04-24 13:46] matyunin opened #104 "Cross compile error (on mac for linux)"
When I try to compile sample app natively on macos it's all ok:

[code]

But when I try to compile linux binary on my mac I get error:

[code]

What I doing wrong?

[2017-04-25 16:56] 3togo opened #105 "ld.exe: cannot find -lopencv_highgui2413.dll"
I am using the following go version

when I run

C:/msys64/mingw64/bin/../lib/gcc/x86_64-w64-mingw32/6.3.0/../../../../x86_64-w64-mingw32/bin/ld.exe: cannot find -lopencv_imgproc2413.dll
C:/msys64/mingw64/bin/../lib/gcc/x86_64-w64-mingw32/6.3.0/../../../../x86_64-w64-mingw32/bin/ld.exe: cannot find -lopencv_photo2413.dll
C:/msys64/mingw64/bin/../lib/gcc/x86_64-w64-mingw32/6.3.0/../../../../x86_64-

[2017-05-10 08:37] ralphgj commented on #103
I updated the go version to 1.8.1 and then it was ok.

[2017-05-11 18:49] DeadNumbers commented on #102
Maybe this https://medium.com/@peterleyssens/using-opencv-3-from-golang-5510c312a3c help?

[2017-05-19 02:54] fabiocmazzo commented on #105
If you on Windows remove .dll suffix from LDFLAGS in go files. If you get error again add parameter -L C:\PATH_TO_OPENCV_LIBS

[2017-06-03 09:50] deadprogram commented on #104
Hi @matyunin the problem here is when using cgo as this package does you still need to compile/link  against the target libs for the particular arch & OS. See https://github.com/lazywei/go-opencv/blob/master/opencv/cv.go#L7-L11

If there was a pure Golang implementation of an OpenCV-like library, then you would be able to cross-compile using the normal Golang compilation toolchain. But at least fo

[2017-06-06 19:49] yc67 commented on #57
I also changed my PKG_CONFIG_PATH to the directory that contains my opencv.pc file, however the same error message still continues to pop up. Is there a solution to it yet? Thanks!

[2017-06-10 22:02] juliandroid commented on #102
What OpenCV are doing for Java binding?
I left with impression is they are running python generator:
https://github.com/opencv/opencv/blob/05b15943d6a42c99e5f921b7dbaa8323f3c042c6/modules/java/generator/gen_java.py

Is it possible this script to be reused to create go wrapper?

[2017-06-16 08:45] orange-jacky opened #107 "go run hellocv.go failed"
macbookpro:samples fredlee$ brew install opencv
/System/Library/Frameworks/Ruby.framework/Versions/2.0/usr/lib/ruby/2.0.0/universal-darwin16/rbconfig.rb:213: warning: Insecure world writable dir /Users/fredlee in PATH, mode 040777
/System/Library/Frameworks/Ruby.framework/Versions/2.0/usr/lib/ruby/2.0.0/universal-darwin16/rbconfig.rb:213: warning: Insecure world writable dir /Users/fredlee in PATH

[2017-06-16 23:15] zacharynevin commented on #99
I made a PR for this

[2017-06-16 23:15] zacharynevin commented on #99
https://github.com/lazywei/go-opencv/pull/108

[2017-06-16 23:15] zacharynevin commented on #99
#108

[2017-06-20 18:16] lazywei commented on #99
Closed in #108

[2017-06-20 18:16] #99 closed

[2017-06-21 03:02] yummybian opened #109 "Why WriteFrame can't work on ubuntu, but it can work well on mac?"
`var buf []image.Image
// the codec is h264
cap := opencv.NewFileCapture("video.avi")
if cap == nil {
	panic("can not open video")
}
for {
		ipli := cap.QueryFrame()
		if ipli == nil {
			break
		}
		i := ipli.ToImage()
		buf = append(buf, i)
}

props := videoProps{
	fps:    cap.GetProperty(opencv.CV_CAP_PROP_FPS),
	fourcc: cap.GetProperty(opencv.CV_CAP_PROP_FOURCC),
	width:  cap.GetProperty(openc

[2017-06-22 01:03] #107 closed

[2017-06-22 11:17] vg123 opened #110 "Convert byte array into Image object in node.js"

[2017-06-22 11:19] #110 closed

[2017-06-23 00:53] nordic-style commented on #60
You should mark #102 as duplicated.

And it seems that Matt started to work on this issue:
https://github.com/mlehner/go-opencv/commit/6e6733402a9e71b47c31929089f9892f005e13ec

[2017-06-23 02:28] orange-jacky opened #111 "run binding opencv2.x demo failed"
package exam2

import . "github.com/lazywei/go-opencv/gocv"
import "github.com/gonum/matrix/mat64"
import "fmt"

func Sample2() {

	objPts := mat64.NewDense(4, 3, []float64{
		0, 25, 0,
		0, -25, 0,
		-47, 25, 0,
		-47, -25, 0})

	imgPts := mat64.NewDense(4, 2, []float64{
		1136.4140625, 1041.89208984,
		1845.33190918, 671.39581299,
		302.73373413, 634.79998779,
		1051.46154785, 352.76107788})

	c

[2017-06-23 03:09] yummybian commented on #109
@lazywei Could you give me a little hint? Tks.

[2017-06-23 16:01] RichLewis007 commented on #102
Duplicate. And it seems that Matt started to work on this issue:
https://github.com/mlehner/go-opencv/commit/6e6733402a9e71b47c31929089f9892f005e13ec

[2017-06-23 16:03] RichLewis007 commented on #60
OK, thanks!

On Thu, Jun 22, 2017 at 8:53 PM, nordic-style <notifications@github.com>
wrote:

[2017-07-06 06:46] nextdoor-engineer commented on #59
@kaikuehne, did you ever resolve this? I'm currently trying to load a haarcascade_frontalcatface.xml into smartcrop that dumps this error. It's weird because haarcascade_frontalface.xml and several other xml files work, but this cat face detection crash is killing me.

`The node does not represent a user object`

https://github.com/lazywei/go-opencv/blob/master/opencv/cvaux.go#L61
[code]
Here's th

[2017-07-06 06:47] dancrew32 commented on #59
@kaikuehne, did you ever resolve this? I'm currently trying to load a haarcascade_frontalcatface.xml into smartcrop that dumps this error. It's weird because haarcascade_frontalface.xml and several other xml files work, but this cat face detection crash is killing me.

`The node does not represent a user object`

https://github.com/lazywei/go-opencv/blob/master/opencv/cvaux.go#L61
[code]
Here's th

[2017-07-17 17:28] lukereding opened #113 "compiling with dylibs"
I'm a new Go user and I know that this probably isn't the best forum for this question but a few hours of research have left me empty-handed.

I work a lot in OpenCV using Python but using Go has been attractive to me because of the ability to compile a single binary I can distribute to multiple machines without the added step of making sure I have a whole bunch of dependencies (like OpenCV) insta

[2017-09-05 17:12] denismakogon commented on #102
Hi, what's current status for supporting OpenCV 3.X? Would be nice to see this soon enough.
@lazywei @mlehner @RichLewis007

[2017-09-08 08:29] hurkgu opened #115 "how to compress jpg to webp?"
@lazywei  not support webp?
opencv version: 2.4.13.2
os: mac os 10.12
os:
[code]

[2017-09-14 18:21] deadprogram commented on #111
Same problem here...

[2017-09-15 04:23] qinjk opened #116 "failed to allocate 65408 bytes"

[2017-09-15 07:18] deadprogram commented on #102
The python script for generating wrappers is a bit simpler than the Java one:
https://github.com/opencv/opencv/blob/05b15943d6a42c99e5f921b7dbaa8323f3c042c6/modules/python/src2/gen2.py

The high-level process, according to comments in that code is:

- step 1: scan the headers and build more descriptive maps of classes, consts, functions
- step 1.5 check if all base classes exist
- step 2: generate

[2017-09-15 07:20] deadprogram commented on #111
The solution here is to rename the file `gocv.go` to anything else. The current SWIG builders as called by the Golang compilers produce a conflict with the filename.

[2017-09-17 09:57] #116 closed

[2017-10-09 18:56] bronzenose commented on #57
The [build instructions for opencv](http://docs.opencv.org/trunk/d7/d9f/tutorial_linux_install.html) give the answer:

Perhaps others stopped at step 7 like I did.

[2017-10-09 19:25] deadprogram commented on #102
Hello, everyone.

Just wanted to let you all know about my new project GoCV: http://gocv.io/

Inspired by the work done in this project, I am hopeful that with a fresh start and different approach, much more progress can be made on OpenCV 3+.

I'd love to collaborate with all of you!

[2017-10-09 19:27] deadprogram commented on #60
Please see my comment at https://github.com/go-opencv/go-opencv/issues/102#issuecomment-335262042

Sorry to cross post, but seems relevant. Thank you!

[2017-12-12 12:08] sudhir1527 commented on #111
Hi deadprogram,
I searched gocv.go file and i did not find it.

I also have same problem

[2017-12-12 13:31] deadprogram commented on #111
I was saying to rename  https://github.com/go-opencv/go-opencv/blob/master/gocv/gocv.go to something else like `gocvwrapper.go`, in order to get around the build problem.

Hope that helps!

Also, please check out my own project https://GoCV.io which is a much more complete OpenCV 3.x wrapper.

[2017-12-18 12:33] woody712 opened #121 "OpenCV Error: Assertion failed CV_IO_MAX_IMAGE_PARAMS*2)"
when I use your code in ab testing, there is an error happened

[2018-02-11 20:59] LihMeh commented on #88
That's what helped be
1. You need pkg-config to be installed

2. You have to insta.. opencv 2,  not opencv 3. Opencv 3 is not supported

3. You need pkg_config to be able to find you library.
Since it's it unusual place, you have to set it manually

[2018-02-12 08:18] minghaoxi commented on #57
https://prateekvjoshi.com/2013/10/18/package-opencv-not-found-lets-find-it/

sudo make install
export PKG_CONFIG_PATH=/usr/local/lib/pkgconfig

this can fix your problem.

[2018-02-12 08:59] jabrena commented on #57
Thanks.

[2018-02-12 08:59] #57 closed

[2018-05-02 06:39] #103 closed

[2018-05-31 09:30] Kabariya commented on #64
this post was posted in 2016 and I am still getting the same error... Any solution

[2018-06-06 01:59] fastfading opened #122 "Is this lib support static link opencv?"
I came from chai's go-opencv,  and gocv
 chai's go-opencv is too old to be build
gocv only support latest opencv , and did not support static link, which is not golang style.
I wonder Is this lib support static link opencv?

[2018-06-06 05:35] Kabariya commented on #57
In member function ‘void cv::EigenvalueDecomposition::compute(cv::InputArray, bool)’:
cc1plus: warning: assuming signed overflow does not occur when assuming that (X - c) > X is always false [-Wstrict-overflow]

i am getting this when i am installing opencv

[2018-08-10 19:09] Eyshika commented on #57
I am trying to install opencv3.2.0 using `sudo apt-get libopencv python`. It runs perfectly but couldnt find opencv in pkg-config or even in python, also am not sure if its specifically installing 3.2.0 version or not. i dont want to install it from source.

[2018-08-23 17:13] hvze commented on #115
I'm not an expert on this but this `could not find encoder for the specified extension in function imencode` sets off an alarm in my head. Maybe try finding and installing whatever webp encoder opencv uses?

[2018-10-08 18:05] abhishekbaghel commented on #57
Worked for me as well :)

[2018-10-14 04:32] theLastRaider commented on #57
this worked for me too

[2019-01-07 04:15] kokun66 commented on #57
that would install a difference version?

[2019-01-09 02:12] efugier opened #125 "Qucik install fails on Solus (Package opencv4 was not found in the pkg-config search path.)"
- Solus 3.9999
- run normal install procedure for go cv
- final `make install` output is:
[code]

Solutions listed in #57 do not work because the Solus' opencv version is 3.4, but installing `opencv-devel` seems to fix the "not found" part of the problem.
Installing opencv from source does not work either.

The "-dev" or "devel" thing is missing when install through your procedure or opencv's, and

[2019-01-13 10:49] 111120195 commented on #57
it worked for me too! thanks!

[2019-02-15 02:18] fastfading opened #127 "how many functions are binded ?"
how many functions are binded ?
I just try some histgram function .
**CreateHist
NormalizeHist**
It seems  it is missing .
could u list the function already binded ?

[2019-02-18 03:39] ghost commented on #57
I have tried everything, did someone fixed it with another approach?

[2019-03-14 13:18] grjiq opened #128 "Use GetData() get an array of the wrong length"
I have a 1000(rows)*1000(cols)*3(dims) mat*, the i use GetData() to get a []byte, but the len of []byte is 3000.

[2019-03-14 13:24] grjiq commented on #128
`func (mat *Mat) GetData() []byte {
     //return C.GoBytes(unsafe.Pointer(C.myGetData((*C.CvMat)(mat))), C.int(mat.step))
     return C.GoBytes(unsafe.Pointer(C.myGetData((*C.CvMat)(mat))), C.int(mat.rows*mat.cols*3))
 }
`
here `C.int(mat.step)` is 3000.

[2019-04-12 12:29] zmajew opened #129 "identifier "_Ctype_CvRect" may conflict"
Hello,
Thanks for go-opencv!
When I run your hellocv.go example I got this error:

github.com/go-opencv/go-opencv/opencv
../opencv/cvaux.go:66:21: identifier "_Ctype_CvRect" may conflict with identifiers generated by cgo

I am runing go 1.12
Please help,
Thanks

[2019-04-18 17:02] montanaflynn commented on #129
Same issue

[2019-04-23 01:43] chophy commented on #57
try:
sudo apt-get install libopencv-dev
it worked for me

it worked for me too! thanks!

[2019-05-15 08:04] laofeizhu0706 commented on #129
Same issue

[2019-05-15 09:33] montanaflynn commented on #129
I'm running it on a mac if that helps, how about you @zmajew and @Cloud-Chen-laofeizhu?

[2019-06-15 09:17] Archie1978 commented on #64
Hello,

 I have a same problem:
# github.com/lazywei/go-opencv/opencv
../../../github.com/lazywei/go-opencv/opencv/cxtype.go:157:8: could not determine kind of name for C.cvCeil
../../../github.com/lazywei/go-opencv/opencv/cxtype.go:153:8: could not determine kind of name for C.cvFloor
../../../github.com/lazywei/go-opencv/opencv/cxtype.go:166:8: could not determine kind of name for C.cvIsInf
../.

[2019-07-03 12:36] gnh1201 opened #131 "/usr/bin/ld: cannot find -lIlmImf, -llibjasper, -llibtiff, -llibjpeg"
I installed OpenCV 2.4.x, and try run sample but it showing `ld' errors. How can fix it?

[code]

[2019-07-30 06:25] vkhramtsov commented on #129
Any news here? @lazywei Would you be so kind to review and, possibly, merge attached PR?

[2019-10-26 21:00] Alexn117 opened #132 "IMRead() with IMReadUnchanged flag ignores EXIF orientation, when it should preserve it"
It seems from the OpenCV documentation that the default behavior should be to preserve the EXIF orientation of an image, unless the **IMReadIgnoreOrientation** flag is set, but this is not happening.

When I use the following, to read a .png, the EXIF orientation is ignored:

`img := gocv.IMRead(name, gocv.IMReadUnchanged)`

But when I use **IMReadColor**, the orientation is preserved. This makes

[2020-02-11 10:32] dkull opened #133 "No headless option for running in backend"
Since Go is often run headless there should be an option to compile go-opencv and opencv without GUI libraries. Currently one has to setup a whole desktop environment even for servers.

[2020-03-09 12:14] ebtesam01 commented on #57
thanks, it worked for me too

[2020-03-14 11:23] felipecruz91 commented on #129
Same issue... Any ETA? :)

[2020-04-12 12:38] Amither111 commented on #57
I tried，and it worked. But the version is wrong.
What I installed is opencv3.4.x, but
`pkg-config --modversion opencv`
`2.4.9.1`
why??

[2020-04-21 14:36] cn0047 opened #134 "Install won't work"
I try to run steps from `Install Linux & Mac OS X`:

[code]

And I have this error:

[code]

[code]

Moreover I've already installed all from [this link](https://docs.opencv.org/trunk/d7/d9f/tutorial_linux_install.html):

[code]

[2020-04-28 21:06] ghost commented on #57
greate,worked for me too.

[2020-08-21 21:37] anthonywittig commented on #129
Are folks migrating to another package? If so, any recommendations?

[2020-12-03 15:26] OxFFFFFFFF commented on #129
same problems, help please

[2021-01-26 03:05] iammeizu commented on #90
met the same problem

[2021-03-24 09:19] jordi00113 commented on #134
Same issue here, didn't find a solution for this

[2021-05-26 09:08] maxsxu commented on #134
It seems there is no opencv lib in your computer from the pkg-config error.

Try `brew install opencv` in macOS

[2021-06-22 12:18] fiorix commented on #62
¯\_(ツ)_/¯

[2021-06-22 12:18] #62 closed

[2022-02-03 09:46] Alihamdy2496 commented on #57
apt-get install libopencv-dev
worked for me but the python binding isn't working , when i run this

     python -c "import cv2; print(cv2.__version__)"
i get this

     ImportError: No module named cv2

[2022-02-26 21:24] KXnarendra opened #135 "any packages for text overlay on video in Golang"